* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  background-color: #F2F0EE;
}

#root {
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

.centered-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background: #f3f4f6;
}

.hello-world {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2563eb;
  font-family: sans-serif;
}

